@import url("https://fonts.googleapis.com/css?family=DM+Serif+Display|Karla:400,700&display=swap");
/* pre built css */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* custom css */
html {
  line-height: 1.15;
    -webkit-text-size-adjust: 100%;
}
body {
  margin: 0;
}

main {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}


/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
 
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;

  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}


[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}


[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details {
  display: block;
}

summary {
  display: list-item;
}


template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

figure {
  margin: 0;
}

/**
 * Layout
 */
html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font: normal normal normal 1rem/1.6 "Karla", sans-serif;
  font-size: 1rem;
}

body {
  color: #404040;
  background: white;
  font-size: 1rem;
  width: 1440px;
}

p,
ol,
ul,
dl,
table {
  margin: 0 0 1.5rem 0;
}

ul li ul {
  margin-bottom: 0;
}

ol li ol {
  margin-bottom: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 1.5rem 0;
  font-weight: 400;
  font-family: "DM Serif Display", sans-serif;
  line-height: 0.9;
  color: #404040;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child),
h4:not(:first-child),
h5:not(:first-child) {
  margin: 1.5rem 0;
}

h1:not(:first-child),
h2:not(:first-child),
h3:not(:first-child) {
  margin-top: 2rem;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.1rem;
}

h5 {
  font-size: 1rem;
}

@media (min-width: 768px) {
  h1:not(:first-child),
  h2:not(:first-child),
  h3:not(:first-child) {
    margin-top: 2.5rem;
  }
  h1 {
    font-size: 4.5rem;
  }
  h2 {
    font-size: 4.6rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1.5rem;
  }
  h5 {
    font-size: 1.25rem;
  }
}

a {
  color: #837d87;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
}

a:hover, a:active, a:focus {
  color: #5c585f;
  text-decoration: none;
}

mark {
  background: #ffeea8;
  padding: 0 0.2rem;
}

blockquote {
  margin: 0 0 1.5rem 0;
  border-left: 16px solid #f0f0f0;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}

blockquote cite {
  display: block;
  margin-top: 1.5rem;
  font-size: 1rem;
  text-align: right;
}

pre {
  border: 0;
  border-radius: 4px;
  background: transparent;
  padding: 1rem;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
  color: #404040;
  font-family: Menlo, monospace;
  font-size: 14px;
  margin: 0 0 1.5rem 0;
}

pre code {
  font-family: Menlo, monospace;
  line-height: 1.2;
}

kbd {
  background-color: #f7f7f7;
  border: 1px solid #ccc;
  border-radius: 3px;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
          box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2), 0 0 0 2px #fff inset;
  color: #333;
  display: inline-block;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 13px;
  line-height: 1.4;
  margin: 0 .1em;
  padding: .1em .6em;
  text-shadow: 0 1px 0 #fff;
}

:not(pre) > code {
  color: #404040;
  background: transparent;
  font-family: Menlo, monospace;
  font-size: 14px;
  padding: 0 0.2rem;
  border: 1px solid #dedede;
  border-radius: 4px;
}

hr {
  height: 0;
  border: 0;
  border-top: 1px solid #dedede;
}

dt {
  font-weight: 600;
}

dd {
  margin-bottom: .5rem;
}

.full-container {
  max-width: 100%;
  padding: 0 1rem;
}

.container, .small-container, .medium-container {
  max-width: 1200px;
  padding: 0 1rem;
  margin-left: auto;
  margin-right: auto;
}

.small-container {
  max-width: 768px;
}

.medium-container {
  max-width: 1000px;
}

.content-section {
  padding: 30px 0;
}

@media (min-width: 768px) {
  .content-section {
    padding: 60px 0;
  }
}

/**
 * Grid
 */
.flex-small,
.flex-large {
  padding-left: 1rem;
  padding-right: 1rem;
}

.flex-row {
  margin-left: -1rem;
  margin-right: -1rem;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-small,
.flex-large {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin-bottom: 1rem;
}

/* Small screen breakpoint */
@media (min-width: 768px) {
  .flex-small {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
}

/* Large screen breakpoint */
@media (min-width: 1000px) {
  .flex-large {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    margin-bottom: 0;
  }
}

/**
 * Helpers
 */
.clearfix::before,
.clearfix::after {
  content: " ";
  display: block;
}

.clearfix:after {
  clear: both;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-justify {
  text-align: justify;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.vertical-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.responsive-image {
  max-width: 100%;
  height: auto;
}

.show {
  display: block !important;
}

.hide {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-padding-top {
  padding-top: 0;
}

.no-padding-bottom {
  padding-bottom: 0;
}

.padding-top {
  padding-top: 2rem;
}

.padding-bottom {
  padding-bottom: 2rem;
}

.no-margin-top {
  margin-top: 0;
}

.no-margin-bottom {
  margin-bottom: 0;
}

.margin-top {
  margin-top: 2rem;
}

.margin-bottom {
  margin-bottom: 2rem;
}

.alternate-background {
  background: #fafafa;
  color: #404040;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/**
 * Buttons
 */
.button, a.button, button, [type=submit], [type=reset], [type=button] {
  -webkit-appearance: none;
  display: inline-block;
  border: 2px solid #2d2640;
  border-radius: none;
  background: #fff;
  color: #2d2640;
  font-weight: 700;
  font-family: "Karla", sans-serif;
  font-size: 1rem;
  text-transform: uppercase;
  padding: .7rem 1.5rem;
  margin: 0 0 .5rem 0;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
  line-height: 1;
}

.button:hover, a.button:hover, button:hover, [type=submit]:hover, [type=reset]:hover, [type=button]:hover {
  border: 2px solid #161320;
  background: #161320;
  color: #837d87;
  text-decoration: none;
}

.button:focus, .button:active, a.button:focus, a.button:active, button:focus, button:active, [type=submit]:focus, [type=submit]:active, [type=reset]:focus, [type=reset]:active, [type=button]:focus, [type=button]:active {
  border: 2px solid #161320;
  background: #161320;
  color: #837d87;
  text-decoration: none;
}

.button::-moz-focus-inner, a.button::-moz-focus-inner, button::-moz-focus-inner, [type=submit]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=button]::-moz-focus-inner {
  border: 0;
  padding: 0;
}

.accent-button,
a.accent-button {
  color: #ffffff;
  border: 1px solid #383e47;
  background: #383e47;
}

.accent-button:hover, .accent-button:focus, .accent-button:active,
a.accent-button:hover,
a.accent-button:focus,
a.accent-button:active {
  color: #ffffff;
  border: 1px solid #22252b;
  background: #22252b;
}

.muted-button,
a.muted-button {
  background: transparent;
  border: 1px solid #cdcdcd;
  color: #4e4e4e;
}

.muted-button:hover, .muted-button:focus, .muted-button:active,
a.muted-button:hover,
a.muted-button:focus,
a.muted-button:active {
  color: #4e4e4e;
  border: 1px solid #818181;
  background: transparent;
}

.round-button,
a.round-button {
  border-radius: 40px;
}

.square-button,
a.square-button {
  border-radius: 0;
}

.full-button,
a.full-button {
  display: block;
  width: 100%;
}

/**
 * Forms
 */
[type=color], [type=date], [type=datetime], [type=datetime-local], [type=email], [type=month], [type=number], [type=password], [type=search], [type=tel], [type=text], [type=url], [type=week], [type=time], select, textarea {
  display: block;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: .75rem;
  outline: none;
  background: transparent;
  margin-bottom: .5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 100%;
  line-height: 1;
}

[type=color]:hover, [type=date]:hover, [type=datetime]:hover, [type=datetime-local]:hover, [type=email]:hover, [type=month]:hover, [type=number]:hover, [type=password]:hover, [type=search]:hover, [type=tel]:hover, [type=text]:hover, [type=url]:hover, [type=week]:hover, [type=time]:hover, select:hover, textarea:hover {
  border: 1px solid #c5c5c5;
}

[type=color]:focus, [type=color]:active, [type=date]:focus, [type=date]:active, [type=datetime]:focus, [type=datetime]:active, [type=datetime-local]:focus, [type=datetime-local]:active, [type=email]:focus, [type=email]:active, [type=month]:focus, [type=month]:active, [type=number]:focus, [type=number]:active, [type=password]:focus, [type=password]:active, [type=search]:focus, [type=search]:active, [type=tel]:focus, [type=tel]:active, [type=text]:focus, [type=text]:active, [type=url]:focus, [type=url]:active, [type=week]:focus, [type=week]:active, [type=time]:focus, [type=time]:active, select:focus, select:active, textarea:focus, textarea:active {
  border: 1px solid #837d87;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #cfcdd0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #cfcdd0;
}

textarea {
  overflow: auto;
  height: auto;
}

fieldset {
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 1rem;
  margin: 1.5rem 0;
}

legend {
  padding: 0 .5rem;
  font-weight: 600;
}

select {
  color: #404040;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJCAYAAAA/33wPAAAAvklEQVQoFY2QMQqEMBBFv7ERa/EMXkGw11K8QbDXzuN4BHv7QO6ifUgj7v4UAdlVM8Uwf+b9YZJISnlqrfEUZVlinucnBGKaJgghbiHOyLyFKIoCbdvecpyReYvo/Ma2bajrGtbaC58kCdZ1RZ7nl/4/4d5EsO/7nzl7IUtodBexMMagaRrs+06JLMvcNWmaOv2W/C/TMAyD58dxROgSmvxFFMdxoOs6lliWBXEcuzokXRbRoJRyvqqqQvye+QDMDz1D6yuj9wAAAABJRU5ErkJggg==) right center no-repeat;
  line-height: 1;
}

select::-ms-expand {
  display: none;
}

[type=range] {
  width: 100%;
}

label {
  font-weight: 600;
  max-width: 100%;
  display: block;
  margin: 1rem 0 .5rem;
}

@media (min-width: 768px) {
  .split-form label {
    text-align: right;
    padding: 0 .5rem;
    margin-bottom: 1rem;
  }
}

input.has-error, input.has-error:hover, input.has-error:focus, input.has-error:active,
select.has-error,
select.has-error:hover,
select.has-error:focus,
select.has-error:active,
textarea.has-error,
textarea.has-error:hover,
textarea.has-error:focus,
textarea.has-error:active {
  border: 1px solid #D33C40;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #f4cecf;
}

input.is-success, input.is-success:hover, input.is-success:focus, input.is-success:active,
select.is-success,
select.is-success:hover,
select.is-success:focus,
select.is-success:active,
textarea.is-success,
textarea.is-success:hover,
textarea.is-success:focus,
textarea.is-success:active {
  border: 1px solid #29de7d;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1), 0 0 6px #97efc0;
}

::-webkit-input-placeholder,
::-moz-placeholder,
:-moz-placeholder,
:-ms-input-placeholder {
  color: #9a9a9a;
}

/**
 * Tables
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  max-width: 100%;
}

thead th {
  border-bottom: 2px solid #dedede;
}

tfoot th {
  border-top: 2px solid #dedede;
}

td {
  border-bottom: 1px solid #dedede;
}

th,
td {
  text-align: left;
  padding: .5rem;
}

caption {
  padding: 1rem 0;
  caption-side: bottom;
  color: #ababab;
}

.striped-table tbody tr:nth-child(odd) {
  background-color: #f8f8f8;
}

.contain-table {
  overflow-x: auto;
}

@media (min-width: 768px) {
  .contain-table {
    width: 100%;
  }
}

/*
 * Layout
 */
/*Responsive navbar*/
/* Hide the link that should open and close the topnav on small screens */
#myBtn,
#myModal,
.modal,
.modal-content,
.close {
  display: none;
}

@media (max-width: 768px) {
  #myBtn {
    display: inline-block;
  }
  .topnav > a,
  .topnav span {
    display: none;
  }
  /* The Modal (background) */
  .modal {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    margin-top: 97px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: #2b272f;
  }
  /* Modal Content */
  .modal-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    padding: 20px;
    width: 100%;
    height: 100vh;
    background: url(/images/bg-pattern-mobile-nav.svg) bottom no-repeat;
    -webkit-box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 100px 80px rgba(0, 0, 0, 0.07);
            box-shadow: 0 6.7px 5.3px rgba(0, 0, 0, 0.028), 0 22.3px 17.9px rgba(0, 0, 0, 0.042), 0 100px 80px rgba(0, 0, 0, 0.07);
  }
  .modal-content a {
    padding-top: 2rem;
    color: #fff;
  }
  .modal-content a button {
    background-color: #2b272f;
    color: #fff;
    border-color: #fff;
    padding: 1rem 6.5rem;
  }
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
}

/**
 * Layout
 */
/*Header Section*/
header {
  background-color: #fff;
  padding: 1rem 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav a {
  margin-left: 1rem;
}

header nav a button:hover {
  color: #fff;
}

/*====================================================================*/
/*Hero Section*/
#hero {
  background: -webkit-gradient(linear, left bottom, left top, color-stop(40.5%, transparent), color-stop(40.5%, #2d2640));
  background: linear-gradient(0deg, transparent 36.5%, #2d2640 36.5%);
  height: 140vh;
}

.row {
  background: url(/images/bg-pattern-intro-left-desktop.svg) bottom left no-repeat, url(/images/bg-pattern-intro-right-desktop.svg) right top no-repeat;
  height: 140vh;
  padding: 6rem 9.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.row article {
  width: 90%;
  height: 650px;
  color: #fff;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  margin-right: 3rem;
}

.row article hr {
  margin: 0;
  margin-right: 70%;
}

.row article h1 {
  color: #fff;
  margin-top: 4rem;
}

.row article button {
  color: #fff;
  background-color: #2d2640;
  border: 2px solid #fff;
}

.row article button:hover {
  background-color: #fff;
  color: #2d2640;
}

.row picture {
  height: 650px;
}

/*=================================================================*/
/*We are Different Section*/
#we-re-different {
  margin-top: -2rem;
  padding: 0 8rem;
}

#we-re-different hr {
  margin-right: 86%;
  color: #2b272f;
}

#we-re-different h2 {
  margin: 4rem 0;
  color: #2b272f;
}

#we-re-different p {
  color: #837d87;
}

#we-re-different .row-2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#we-re-different .row-2 article {
  padding-top: 2.5rem;
}

#we-re-different .row-2 article:nth-child(even) {
  padding: 2.5rem 1.5rem;
}

/*=================================================================*/
/*Call to Action Section*/
#call-to-action {
  background: #2d2640;
  margin: 9rem 10rem;
}

#call-to-action .bg-call-to-action {
  background: url(/images/bg-pattern-how-we-work-desktop.svg) no-repeat right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2.9rem 5rem;
}

#call-to-action h2 {
  width: 51%;
  font-size: 3.5rem;
  color: #fff;
  line-height: 1;
}

#call-to-action button {
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: 400;
}

#call-to-action button:hover {
  background-color: #fff;
  color: #2d2640;
}

/*=================================================================*/
/*Footer*/
footer {
  background-color: #fafafa;
}

footer .bg-footer {
  background: url(/images/bg-pattern-footer-desktop.svg) no-repeat;
  padding: 4rem 10rem;
}

footer .bg-footer .footer-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0.6rem;
}

footer .bg-footer .footer-nav img {
  vertical-align: bottom;
}

footer .bg-footer .footer-nav nav {
  font-size: 1.5rem;
}

footer .bg-footer .footer-nav nav a {
  padding-left: 0.7rem;
}

footer .bg-footer .footer-nav-b {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .bg-footer .footer-nav-b nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 1rem;
  margin-right: 15%;
}

footer .bg-footer .footer-nav-b nav h4 {
  font-family: "Karla", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  color: #837d87;
  font-weight: 700;
}

footer .bg-footer .footer-nav-b nav a {
  color: #2d2640;
  padding-bottom: 0.5rem;
}

footer .bg-footer .footer-nav-b nav a:hover {
  text-decoration: underline;
}

/*Mobile Version*/
@media (max-width: 768px) {
  body {
    width: 100%;
  }
  body header {
    padding: 2rem 1.5rem;
  }
  body #hero {
    background: none;
    height: auto;
  }
  body .row {
    height: 100%;
    background: none;
    padding: 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .row .bg-hero {
    padding: 0;
    background: -webkit-gradient(linear, left bottom, left top, color-stop(27%, transparent), color-stop(27%, #2d2640));
    background: linear-gradient(0deg, transparent 27%, #2d2640 27%);
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  body .row .bg-hero article {
    background: url(/images/bg-pattern-intro-left-mobile.svg) top left no-repeat, url(/images/bg-pattern-intro-right-mobile.svg) bottom right no-repeat;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    width: 100%;
    padding: 3rem 1.5rem;
    text-align: center;
    color: #fff;
    margin: 0;
  }
  body .row .bg-hero article hr {
    display: none;
  }
  body .row .bg-hero article h1 {
    margin-top: 3rem;
    font-size: 2.9rem;
  }
  body .row picture {
    width: 100%;
    height: 451px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  /*We are Different Section*/
  #we-re-different {
    padding: 0;
    margin-top: -3rem;
    margin-bottom: 5rem;
    text-align: center;
  }
  #we-re-different hr {
    margin: auto;
    width: 40%;
    text-align: center;
  }
  #we-re-different h2 {
    margin-top: 3rem;
    font-size: 3rem;
  }
  #we-re-different .row-2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    text-align: center;
  }
  #we-re-different .row-2 article {
    padding: 1.5rem;
  }
  #we-re-different .row-2 article h3 {
    font-size: 1.8rem;
  }
  #we-re-different .row-2 article:nth-child(even) {
    padding: 1.5rem;
  }
  /*Call to Action Section*/
  #call-to-action {
    background: #2d2640;
    margin: 0 1.5rem 9rem;
  }
  #call-to-action .bg-call-to-action {
    background: url(/images/bg-pattern-how-we-work-mobile.svg) no-repeat top right;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 3rem 1.5rem;
  }
  #call-to-action h2 {
    width: 100%;
    text-align: center;
    font-size: 2.5rem;
    margin: 1.5rem 0 3rem;
  }
  /*Footer*/
  footer {
    padding: 0;
    text-align: center;
  }
  footer .bg-footer {
    padding: 1rem;
    background: url(/images/bg-pattern-footer-mobile.svg) no-repeat;
  }
  footer .bg-footer .footer-nav {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 4rem 0 1.5rem;
  }
  footer .bg-footer .footer-nav .facebook {
    padding: 0;
  }
  footer .bg-footer .footer-nav figure {
    margin-bottom: 2rem;
  }
  footer .bg-footer .footer-nav-b {
    padding: 1rem;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  footer .bg-footer .footer-nav-b nav {
    margin: 0;
  }
}
/*# sourceMappingURL=main.css.map */